@import "../../assets/Variables.css";

.firstNav {
  display: flex;
  padding: 25px 30px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
  }
}
.secondNav {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
